rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /menu-items/{items} {
      allow read: if isAuthenticated();
      allow write: if false
    }
    match /order-history/{orders} {
      allow read, write: if isAuthenticated();
    }
    match /{document=**}{
      allow read, write: if false
    }
  }
  function isAuthenticated(){
    return request.auth != null;
  }
}
