<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="bagStore.setbagModalOpen(false)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bag</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-content class="ion-padding">
    <h1>Page One</h1>
    <ion-nav-link router-direction="forward" [component]="navComponent">
      <ion-button>Go to Page Two</ion-button>
    </ion-nav-link>
  </ion-content>
</ion-content>
