<ng-container *ngIf="vm$ | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-menu-list
      [items]="vm.menuItems"
      (menuItemDetailEvent)="onMenuItemDetailClick($event)"
    ></app-menu-list>

    <ion-modal trigger="open-modal" [isOpen]="vm.bag.bagModalIsOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="bagStore.setbagModalOpen(false)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title class="ion-text-center">Bag</ion-title>
            <ion-buttons slot="end">
              <ion-button>
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding"> This is the bag </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-footer [ngClass]="vm.bag.numberOfItems > 0 ? '' : 'ion-hide'">
    <div class="bag-button" (click)="bagStore.setbagModalOpen(true)">
      <div class="bag-count">{{vm.bag.numberOfItems}}</div>
      <div class="text">View Bag</div>
      <div class="bag-price">{{vm.bag.totalPrice | currency}}</div>
    </div>
  </ion-footer>
</ng-container>
