<ng-container *ngIf="vm$ | async as vm">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <app-menu-list
      [items]="vm.menuItems"
      (menuItemDetailEvent)="onMenuItemDetailClick($event)"
    ></app-menu-list>
  </ion-content>
  <ion-footer [ngClass]="vm.bag.numberOfItems > 0 ? '' : 'ion-hide'">
    <div class="bag-button" (click)="onViewBagClick()">
      <div class="bag-count">{{vm.bag.numberOfItems}}</div>
      <div class="text">View Bag</div>
      <div class="bag-price">{{vm.bag.totalPrice | currency}}</div>
    </div>
  </ion-footer>
</ng-container>
