.bag-button {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: var(--ion-color-primary);

  .text {
    flex-grow: 2;
    display: flex;
    justify-content: center;
  }
}

ion-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
