<ion-list>
  <ion-list-header>
    <ion-label>Burgers</ion-label>
  </ion-list-header>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
  <ion-item>
    <div class="menu-item">
      <div class="info-container">
        <div class="title">Title</div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="price">7.99</div>
      </div>
      <div class="image-container">
        <img src="assets/images/bbq-burger.jpg" alt="Burger" />
      </div>
    </div>
  </ion-item>
</ion-list>
